{% extends 'base.html.twig' %}

{% block title %}Zmodyfikuj Kategorie{% endblock %}

{% block body %}
<style>
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
</style>

<h1>Edytuj Kategorie</h1>

{{ form(form) }}

{% endblock %}
